In [1]:
# Install PySpark in Colab
!pip install pyspark
!pip install findspark
#!pip install delta-spark
#!pip install pyspark
!pip install numpy
# Set Java path for Colab
import os
#os.environ['JAVA_HOME'] = r'C:\Program Files\Eclipse Adoptium\jdk-21.0.8.9-hotspot'
#os.environ['JAVA_HOME'] = r"C:/Program Files/Eclipse Adoptium/jdk-21.0.8.9-hotspot"
#'/usr/lib/jvm/java-11-openjdk-amd64'
#os.environ['JAVA_HOME'] = r"C:/Program Files/Eclipse Adoptium/jdk-21.0.8.9-hotspot"
#os.environ['PATH'] = os.environ['JAVA_HOME'] + r"\bin;" + os.environ['PATH']
#os.environ['JAVA_HOME'] =r"/usr/lib/jvm/java-11-openjdk-amd64"

'''
C:\Program Files\Eclipse Adoptium\jdk-21.0.8.9-hotspot\bin\java.exe
C:\Program Files\Common Files\Oracle\Java\javapath\java.exe
C:\Program Files (x86)\Common Files\Oracle\Java\java8path\java.exe
'''

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (2.2.6)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

'\nC:\\Program Files\\Eclipse Adoptium\\jdk-21.0.8.9-hotspot\x08in\\java.exe\nC:\\Program Files\\Common Files\\Oracle\\Java\\javapath\\java.exe\nC:\\Program Files (x86)\\Common Files\\Oracle\\Java\\java8path\\java.exe\n'

In [2]:
# ===============================================
# 1. INITIALISATION DE SPARK SESSION  
# ===============================================
from pyspark.sql import SparkSession
def create_spark_session():    

    
#import os
#os.environ['JAVA_HOME'] = r'C:\Program Files\Eclipse Adoptium\jdk-21.0.8.9-hotspot'

# Create a new SparkSession
    spark = (SparkSession
         .builder
         .appName("projet_sparkSQL_SQL_DeltaLake_Warehouse")
         .master("local[*]")  # Use local mode
         .config("spark.rpc.message.maxSize", "2047")
         .config("spark.network.maxFrameSize", "2047m")
         .config("spark.serializer.objectStreamReset", "10000")
         .config("spark.rpc.askTimeout", "120s")
         .config("spark.network.timeout", "240s")
         .config("spark.executor.memory", "512m")  
         .config("spark.driver.memory", "4g") # Increased driver memory again
         #.config("spark.jars.packages", "io.delta:delta-core_2.12:2.1.0")#delta-core_2.12-2.4.0.jar
         #
         .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
         .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
         #
         .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") 
         .config("spark.sql.adaptive.enabled", "false")
         .config("spark.dynamicAllocation.enabled", "false")
         .config("spark.sql.shuffle.partitions", "8")
         .getOrCreate())

# Set log level to ERROR
    spark.sparkContext.setLogLevel("ERROR")


    return spark

In [79]:
# ===============================================
# 2. INGESTION ET SCHEMA VALIDATION 
# ===============================================
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window
from delta import *
import pandas as pd
from pyspark.sql.functions import col, when, count, udf, expr, lit
from pyspark.sql.types import StringType
from delta.tables import DeltaTable
from pyspark.sql import functions as F
import shutil
import os

def definir_le_schema():
    """Définition du schéma pour validation des données d'entrée"""
    return StructType([
            
    StructField("months_as_customer", StringType(), True),
    StructField("age", StringType(), True),
    StructField("policy_number", StringType(), True),
    StructField("policy_bind_date", StringType(), True),
    StructField("policy_state", StringType(), True),
    StructField("policy_csl", StringType(), True),
    #StructField("policy_deductable", DateType(), True),
    StructField("policy_deductable", StringType(), True),
    StructField("policy_annual_premium", StringType(), True),
    StructField("umbrella_limit", StringType(), True),
    StructField("insured_zip", StringType(), True),
    StructField("insured_sex", StringType(), True),
    StructField("insured_education_level", StringType(), True),
    StructField("insured_occupation", StringType(), True),
    StructField("insured_hobbies", StringType(), True),
    StructField("insured_relationship", StringType(), True),
    StructField("capital-gains", StringType(), True),
    #StructField("capital-loss", DateType(), True),
    StructField("capital-loss", StringType(), True),
    #StructField("incident_date", IntegerType(), True),
    StructField("incident_date", StringType(), True),
    StructField("incident_type", StringType(), True),
    StructField("collision_type", StringType(), True),
    StructField("incident_severity", StringType(), True),
    StructField("authorities_contacted", StringType(), True),
    #StructField("incident_state", DateType(), True),
    StructField("incident_state", StringType(), True),
    #StructField("incident_city", IntegerType(), True),
    StructField("incident_city", StringType(), True),
    StructField("incident_location", StringType(), True),
    StructField("incident_hour_of_the_day", StringType(), True),
    StructField("number_of_vehicles_involved", StringType(), True),
    StructField("property_damage", StringType(), True),
    StructField("bodily_injuries", StringType(), True),
    #StructField("witnesses", DateType(), True),
    StructField("witnesses", StringType(), True),
    #StructField("police_report_available", IntegerType(), True),
    StructField("police_report_available", StringType(), True),
    StructField("total_claim_amount", StringType(), True),
    StructField("injury_claim", StringType(), True),
    StructField("property_claim", StringType(), True),
    StructField("vehicle_claim", StringType(), True),
    StructField("auto_make", StringType(), True),
    StructField("auto_model", StringType(), True),
    StructField("auto_year", StringType(), True),
    StructField("fraud_reported", StringType(), True),
    StructField("_c39", StringType(), True),
    ])

def ingestion_des_donnees(spark):
    """Ingestion avec validation de schéma et nettoyage initial"""
    schema = definir_le_schema()
    # Read CSV file into a DataFrame
    df = (spark.read.format("csv")
      .option("header", "true")
      .option("nullValue", "null")
      .option("emptyValues", "")
      .option("dateFormat", "LLLL d, y")
      .schema(schema)
      .load("../data/insurance_claims.csv"))
    #print(f"Données ingérées: {df.count()} lignes, {len(df.columns)} colonnes")

    # Validation basique de qualité
    #null_counts = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])
    #print("Valeurs nulles par colonne:")
    #null_counts.show()
    # drop duplicated columns
    df = df.dropDuplicates([
               "months_as_customer"
               ,"age"
               ,"policy_state"
               ,"policy_annual_premium"
               ,"insured_zip"
               ,"insured_sex"
               ,"insured_education_level"
               ,"insured_occupation"
               ,"insured_hobbies"
               ,"insured_relationship"
               ,"incident_date"
               ,"incident_type"
               ,"collision_type"
               ,"collision_type"
               ,"incident_severity"
               ,"authorities_contacted"
               ,"incident_state"
               ,"incident_city"
               ,"incident_location"
               ,"incident_hour_of_the_day"
               ,"number_of_vehicles_involved"
               ,"police_report_available"
               ,"total_claim_amount"
               ,"injury_claim"
               ,"property_claim"
               ,"vehicle_claim"
               ,"auto_make"
               ,"auto_model"
               ,"auto_year"
    ])
    # Define a UDF to handle null values
    def process_insured_relationship(insured_relationship):
        if insured_relationship is None:
            return "Unknown"
        else:
            return insured_relationship.upper()

    # Register the UDF
    process_insured_relationship_udf = udf(process_insured_relationship, StringType())

    # Apply the UDF to the DataFrame
    # df_with_processed_insured_relationship = df.withColumn("process_insured_relationship", process_insured_relationship_udf(df["insured_relationship"]))
    df = df.withColumn("process_insured_relationship", process_insured_relationship_udf(df["insured_relationship"]))

    # Show the resulting DataFrame
    df = df.toPandas()
    #df.show(5, truncate=30)
    #df_year.show(10, truncate=30)     # 10 lignes, troncature à 30 caractères
    
    return df

In [80]:
spark = create_spark_session()
ingestion_des_donnees(spark)

#file_path
#df = ingestion_des_donnees(spark)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39,process_insured_relationship
0,97,28,191891,2010-02-11,OH,100/300,1000,830.31,0,443854,...,45270,10060,10060,25150,Jeep,Wrangler,2006,N,None,HUSBAND
1,290,47,885789,2008-07-21,IN,250/500,1000,1393.34,0,472922,...,56160,6240,12480,37440,Audi,A5,2002,N,None,OTHER-RELATIVE
2,295,48,678849,1992-02-22,OH,500/1000,1000,1332.07,0,609409,...,86060,13240,13240,59580,Volkswagen,Passat,2002,N,None,UNMARRIED
3,283,46,487356,2000-08-30,IL,500/1000,2000,1313.33,0,455332,...,77660,7060,14120,56480,Nissan,Maxima,2004,Y,None,HUSBAND
4,118,28,283414,1991-12-28,IN,500/1000,2000,1207.36,0,432896,...,74200,7420,14840,51940,Volkswagen,Passat,1997,N,None,OWN-CHILD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,369,55,577810,2013-04-15,OH,250/500,2000,1589.54,0,444734,...,85300,17060,8530,59710,Toyota,Highlander,2003,N,None,HUSBAND
996,186,33,779075,2010-02-27,IN,100/300,1000,1348.32,0,469429,...,4730,860,860,3010,Chevrolet,Malibu,2013,Y,None,WIFE
997,116,31,615116,2008-11-09,IN,250/500,500,1194.83,0,603733,...,44200,4420,8840,30940,Suburu,Forrestor,1997,N,None,HUSBAND
998,165,37,429027,1990-02-03,IL,100/300,1000,1137.03,0,603195,...,51590,9380,9380,32830,Audi,A5,2015,N,None,UNMARRIED
999,280,41,682178,1994-12-18,OH,500/1000,2000,1140.31,0,473243,...,53020,9640,9640,33740,Toyota,Corolla,1999,N,None,HUSBAND

In [23]:
# ===========================================================
# CREATE BRONZE DELTA TABLE OR REPLACE ET STOCKAGE DELTA LAKE 
# ===========================================================
#%%sparksql
# ici le mieux est de creer une autre table car insurance_claimsv7_cdf existe deja 
def creer_table_bronze():
 # Supprimer la table existante si elle existe
 spark.sql("DROP TABLE IF EXISTS default.insurance_claimsv7_cdf")
    
       # Your SQL query inside the function
 sql_query_bronze = """
   CREATE OR REPLACE TABLE default.insurance_claimsv7_cdf (
    --ici je cree une table bronze
    months_as_customer STRING,
    age STRING,
    policy_number STRING,
    policy_bind_date STRING, 
    policy_state STRING, 
    policy_csl STRING,
    policy_deductable STRING, 
    policy_annual_premium STRING, 
    umbrella_limit STRING,  
    insured_zip STRING, 
    insured_sex STRING, 
    insured_education_level STRING, 
    insured_occupation STRING, 
    insured_hobbies STRING, 
    insured_relationship STRING,  
    capital_gains STRING, 
    capital_loss STRING, 
    incident_date STRING,
    incident_type STRING, 
    collision_type STRING,
    incident_severity STRING,
    authorities_contacted STRING,
    incident_state STRING,
    incident_city STRING,
    incident_location STRING,
    incident_hour_of_the_day STRING,
    number_of_vehicles_involved STRING,
    property_damage STRING,
    bodily_injuries STRING,
    witnesses STRING,
    police_report_available STRING,
    total_claim_amount STRING,
    injury_claim STRING,
    property_claim STRING,
    vehicle_claim STRING,
    auto_make STRING,
    auto_model STRING,
    auto_year STRING,
    fraud_reported STRING,
    _c39 STRING, 
    missing_data BOOLEAN,
    age_group STRING,
    fraud_reported_bool BOOLEAN,
    age_risk_score FLOAT,
    risque_selon_lanciennete FLOAT,
    risque_total FLOAT,
    risque_selon_la_fraude FLOAT,
    cathegorie_risque STRING
    
) USING DELTA LOCATION '/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf' 
TBLPROPERTIES (delta.enableChangeDataFeed = true, medallionLevel = 'bronze',   delta.columnMapping.mode = 'name');
        """
 spark.sql(sql_query_bronze) 

# ) USING DELTA LOCATION 'insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv7_cdf'
#TBLPROPERTIES (delta.enableChangeDataFeed = true, medallionLevel = 'bronze',   delta.columnMapping.mode = 'name');
#Change Data Feed (CDF) permet de suivre les changements (ajouts, suppressions, mises à jour) dans les tables Delta, mais cela limite 
#certaines opérations comme les modifications structurelles sur la table, en particulier celles qui affectent les colonnes 
#(par exemple, DROP COLUMN ou RENAME COLUMN).

#Lorsque tu utilises CREATE OR REPLACE TABLE dans Delta, tu es en train de remplacer la table entière, ce qui peut interférer avec 
#le suivi du CDF si des colonnes ont été modifiées.

In [24]:
creer_table_bronze()

In [15]:
#cette fonction doit etre appelle une seule fois
def get_bronze_delta_table(spark, path):

# Vérifier si la table existe déjà
    if spark.catalog.tableExists("default.insurance_claimsv7_cdf"):
    # Supprimer la table si elle existe
        spark.sql("DROP TABLE IF EXISTS default.insurance_claimsv7_cdf")
        
# Read CSV file into a DataFrame
# Initial Load of Bronze Table
    df = (spark.read
      .format("csv")
      .option("header", "true")
      .load("../data/insurance_claims.csv"));
    #Manually Align Columns (je me suis rendu compte )
    df = df.withColumnRenamed("capital-gains", "capital_gains") \
       .withColumnRenamed("capital-loss", "capital_loss")
    
    df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claimsv7_cdf")
    print(f"Données sauvegardées dans insurance_claimsv7_cdf")
    #return df.show() #ceci va montrer le contenu du dataframe
    return df

In [16]:
def drop_table_if_exists(spark, table_name):
    # Vérifier si la table existe dans Spark
    if spark.catalog.tableExists(table_name):
        # Supprimer la table dans Spark
        spark.sql(f"DROP TABLE IF EXISTS {table_name}")
        
        # Supprimer les fichiers Delta associés dans le système de fichiers
        table_path = f"/opt/workspace/insurance_claims/spark-warehouse/{table_name.split('.')[1]}"
        if os.path.exists(table_path):
            shutil.rmtree(table_path)  # Suppression récursive du dossier

In [17]:
drop_table_if_exists(spark, "default.insurance_claimsv7_cdf") 
#result = spark.sql("DESCRIBE FORMATTED default.insurance_claimsv7_cdf")
result = spark.sql("SHOW TABLES IN default")
 
# Show the result
result.show(truncate=False)

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [18]:
path ="/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf"
#path ="/opt/workspace/insurance_claims/spark-warehouse/insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv7_cdf"
#/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf
#/opt/workspace/insurance_claims/spark-warehouse/insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv7_cdf
get_bronze_delta_table(spark, path)

Données sauvegardées dans insurance_claimsv7_cdf

DataFrame[months_as_customer: string, age: string, policy_number: string, policy_bind_date: string, policy_state: string, policy_csl: string, policy_deductable: string, policy_annual_premium: string, umbrella_limit: string, insured_zip: string, insured_sex: string, insured_education_level: string, insured_occupation: string, insured_hobbies: string, insured_relationship: string, capital_gains: string, capital_loss: string, incident_date: string, incident_type: string, collision_type: string, incident_severity: string, authorities_contacted: string, incident_state: string, incident_city: string, incident_location: string, incident_hour_of_the_day: string, number_of_vehicles_involved: string, property_damage: string, bodily_injuries: string, witnesses: string, police_report_available: string, total_claim_amount: string, injury_claim: string, property_claim: string, vehicle_claim: string, auto_make: string, auto_model: string, auto_year: string, fraud_reported: string, _c39: string]

In [ ]:
'''
#ici nous creeons notre deltaTable et nous le luisons et nous le renvoyons sous forme de dataframe.
def ecrire_lire_delta_table(df):


    df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claimsv7")
    df = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7") 
    #df.write.format("delta").mode("append").saveAsTable("default.insurance_claimsv7_cdf")

    return df
'''

In [ ]:
'''
df = ingestion_des_donnees(spark)
ecrire_lire_delta_table(df)
'''

In [25]:
# =======================
# 3. QUALITE ET NETTOYAGE
# =======================

def apply_data_quality_checks(df):
    return df_quality

def clean_and_standardize(df):
    return df_clean

# Define a UDF to handle null values on column insured_relationship
def dropping_null_values(df):
    print(f"QUALITE ET NETTOYAGE")
    print(f"Suppression des lignes avec des valeurs nulles")
    # Dropping rows with null values
    df = df.dropna()
    print(f"Remplissage les valeurs nulles avec une valeur spécifique")
    # Filling null values with a specific value
    df = df.fillna("N/A")
    return df

def update_policy_number(deltaTable):
# Update policy_number to not have nulls
  print(f"Updating police number")
  deltaTable.update(
  condition = expr("policy_number IS NULL"),
   set = { "policy_number": lit("") }
  )

In [26]:
 
delta_table = DeltaTable.forName(spark, "default.insurance_claimsv7_cdf")
update_policy_number(delta_table)

Updating police number

In [27]:
# =================================
# 4. TRANSFORMATION ET AGGREGATION 
# =================================

In [28]:
def mise_a_jour_verification_des_donnees(spark):
    print(f"Mise à jour des valeurs dans la table")
    sql_query = """
    -- Mise à jour des valeurs dans la table
    UPDATE default.insurance_claimsv7_cdf
    SET 
        -- Mettre à 0 si l'âge est inférieur à 16 ou supérieur à 100
        age = CASE 
                WHEN age < 16 OR age > 100 THEN 0
                ELSE age
              END,

        -- Mettre à 0 si le montant total des réclamations est négatif ou si le mois d'abonnement est négatif
        total_claim_amount = CASE
                               WHEN total_claim_amount < 0 OR months_as_customer < 0 THEN 0
                               ELSE total_claim_amount
                             END,

        -- Mettre à 0 si le numéro de police est NULL
        policy_number = CASE 
                          WHEN policy_number IS NULL THEN 0
                          ELSE policy_number
                        END,

        -- Mettre à 0 si la date de l'incident est NULL
        incident_date = CASE
                          WHEN incident_date IS NULL THEN 0
                          ELSE incident_date
                        END
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [29]:
# Exemple d'appel de la fonction
mise_a_jour_verification_des_donnees(spark)

Mise à jour des valeurs dans la table

In [30]:
#creation de la colonne missing_data
def creation_colonne_missing_data(spark):
    print(f"creation de la colonne missing_data")
# Nom de la table et colonne à vérifier
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "missing_data"
    new_column_type = "BOOLEAN"

# Vérifier si la colonne existe déjà dans la table
#columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
    # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [31]:
creation_colonne_missing_data(spark)

creation de la colonne missing_data
La colonne missing_data existe déjà.

In [32]:
# remplissage de la colonne missing_data selon les cas de figure
def mise_a_jour_missing_data(spark):
    print(f"remplissage de la colonne missing_data selon les cas de figure")
    sql_query = """
-- Mise à jour de la table pour marquer les données manquantes (je mets ces deux tirets car c est sparksql
UPDATE default.insurance_claimsv7_cdf  
SET 
    missing_data = CASE 
                     WHEN policy_number IS NULL OR policy_number = '' THEN TRUE
                     WHEN incident_date IS NULL OR incident_date = '' THEN TRUE
                     WHEN total_claim_amount IS NULL OR total_claim_amount = '' THEN TRUE
                     ELSE FALSE
                   END;
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [33]:
mise_a_jour_missing_data(spark)

remplissage de la colonne missing_data selon les cas de figure

In [34]:
def creation_colonne_age_group(spark):
    print(f"création de la colonne groupe d'age")
    
    # Nom de la table et colonne à vérifier
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "age_group"
    new_column_type = "STRING"

    # Vérifier si la colonne existe déjà dans la table
    # On utilise .columns pour obtenir la liste des noms de colonnes
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = spark.table(table_name).columns  # Liste des noms de colonnes

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [35]:
creation_colonne_age_group(spark)

création de la colonne groupe d'age
La colonne age_group existe déjà.

In [36]:
def creation_colonne_age_risk_score(spark):
    print(f"création de la colonne age_risk_score (risque selon l'age)")
     
    # Nom de la table et colonne à vérifier
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "age_risk_score"
    new_column_type = "FLOAT"

    #ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

    # Vérifier si la colonne existe déjà dans la table
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [37]:
creation_colonne_age_risk_score(spark)

création de la colonne age_risk_score (risque selon l'age)
La colonne age_risk_score existe déjà.

In [38]:
def creation_colonne_risque_selon_lanciennete(spark):
    print(f"création de la colonne risque selon l'anciennété")
 
    # Nom de la table et colonne à vérifier
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "risque_selon_lanciennete"  
    new_column_type = "FLOAT"

    #ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

    # Vérifier si la colonne existe déjà dans la table
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [39]:
creation_colonne_risque_selon_lanciennete(spark)

création de la colonne risque selon l'anciennété
La colonne risque_selon_lanciennete existe déjà.

In [40]:
def creation_colonne_risque_total(spark):
    print(f"création de la colonne risque totale")
     
    # Nom de la table et colonne à vérifier
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "risque_total"  
    new_column_type = "FLOAT"

    #ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

    # Vérifier si la colonne existe déjà dans la table
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [41]:
creation_colonne_risque_total(spark)

création de la colonne risque totale
La colonne risque_total existe déjà.

In [42]:
def creation_colonne_risque_selon_la_fraude(spark):
    print(f"création de la colonne risque selon la fraude")
     
    # Nom de la table et colonne à vérifier
    # ici nous allons attribuer un score de risque si l'assuré a fraudé
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "risque_selon_la_fraude"
    new_column_type = "FLOAT"

    #ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

    # Vérifier si la colonne existe déjà dans la table
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [43]:
creation_colonne_risque_selon_la_fraude(spark)

création de la colonne risque selon la fraude
La colonne risque_selon_la_fraude existe déjà.

In [44]:
def creation_colonne_cathegorie_risque(spark):
    print(f"création de la colonne risque par cathégorie")
 
    # Nom de la table et colonne à vérifier
    # ici nous allons attribuer un score de risque si l'assuré a fraudé
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "cathegorie_risque"
    new_column_type = "STRING"
    
    #ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

    # Vérifier si la colonne existe déjà dans la table
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [45]:
creation_colonne_cathegorie_risque(spark)

création de la colonne risque par cathégorie
La colonne cathegorie_risque existe déjà.

In [46]:
def creation_colonne_fraud_reported_bool(spark):
    print(f"création de la colonne fraud_reported_bool")
     
    # Nom de la table et colonne à vérifier
    # ici nous allons attribuer un score de risque si l'assuré a fraudé
    table_name = "default.insurance_claimsv7_cdf"
    column_name = "fraud_reported_bool"
    new_column_type = "BOOLEAN"
    
    #ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

    # Vérifier si la colonne existe déjà dans la table
    #columns = [col.name for col in spark.table(table_name).columns]
    columns = [col for col in spark.table(table_name).columns]

    # Si la colonne n'existe pas, ajouter la colonne
    if column_name not in columns:
        # Ajouter la colonne à la table
        spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
        print(f"La colonne {column_name} a été ajoutée à la table.")
    else:
        print(f"La colonne {column_name} existe déjà.")

In [47]:
creation_colonne_fraud_reported_bool(spark)

création de la colonne fraud_reported_bool
La colonne fraud_reported_bool existe déjà.

In [48]:
# remplissage de la colonne missing_data selon les cas de figure
def mise_a_jour_groupe_age(spark):
    print(f"remplissage de la colonne mise_a_jour_groupe_age selon les cas de figure")
    sql_query = """
-- Mise à jour de la table pour marquer les groupes d'âge
UPDATE default.insurance_claimsv7_cdf  
SET 
    age_group = CASE 
                  WHEN age < 25 THEN 'Young'
                  WHEN age < 35 THEN 'Young_Adult'
                  WHEN age < 50 THEN 'Middle_Age'
                  WHEN age < 65 THEN 'Senior'
                  ELSE 'Elder'
                END;  
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [49]:
mise_a_jour_groupe_age(spark)

remplissage de la colonne mise_a_jour_groupe_age selon les cas de figure

In [50]:
# remplissage de la colonne missing_data selon les cas de figure
def mise_a_jour_age_risk_score(spark):
    print(f"remplissage de la colonne mise_a_jour_age_risk_score selon les cas de figure")
    sql_query = """
-- %%sparksql
-- Mise à jour des risques par age ici jai dabord essayer de voir le nombre daccident par groupe et nous avons vu que les jeunes 
-- font moins daccident donc nous allons les favoriser en meme temps afin dattirer la clientelle jeune on aurait pu dire aussi
-- que plus lage augmente  on acquiert plus dexperience  ce qui n est pas  a 100%  vrai on peut aussi dire plus on est vieux plus 
-- on pert certaine faculte. nous allons dans notre cas de figure un peu equilibrer notre jugement plus on est jeune plus on a moins 
-- dexperience et plus on prend de lage plus on pert certaines facultes 
UPDATE default.insurance_claimsv7_cdf  
SET 
    age_risk_score = CASE 
                      WHEN age_group = "Young" THEN 0.3
                      WHEN age_group = "Young_Adult" THEN 0.6
                      WHEN age_group = "Middle_Age" THEN 0.6
                      WHEN age_group = "Senior" THEN 0.3
                      ELSE 0.0
                    END;
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [51]:
mise_a_jour_age_risk_score(spark)

remplissage de la colonne mise_a_jour_age_risk_score selon les cas de figure

In [52]:
# remplissage de la colonne missing_data selon les cas de figure
def mise_a_jour_risque_selon_lanciennete(spark):
    print(f"remplissage de la colonne mise_a_jour_risque_selon_lanciennete selon les cas de figure")
    sql_query = """
--  Score basé sur l'historique de l'anciennete selon le conducteur
UPDATE default.insurance_claimsv7_cdf  
SET 
    risque_selon_lanciennete = CASE 
                      WHEN months_as_customer > 12  THEN 0.6
                      WHEN months_as_customer < 36  THEN 0.4
                      ELSE 'low'
                    END;
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [53]:
mise_a_jour_risque_selon_lanciennete(spark)

remplissage de la colonne mise_a_jour_risque_selon_lanciennete selon les cas de figure

In [54]:
# remplissage de la colonne missing_data selon les cas de figure
def mise_a_jour_fraud_reported_bool(spark):
    print(f"remplissage de la colonne mise_a_jour_fraud_reported_bool selon les cas de figure")
    sql_query = """
-- Mise à jour de la table pour marquer les groupes d'âge
UPDATE default.insurance_claimsv7_cdf  
SET 
    fraud_reported_bool = CASE 
                  WHEN fraud_reported = "Y" THEN 'True'
                  ELSE 'False'
                END;  
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [55]:
mise_a_jour_fraud_reported_bool(spark)

remplissage de la colonne mise_a_jour_fraud_reported_bool selon les cas de figure

In [56]:
# remplissage de la colonne missing_data selon les cas de figure
def mise_a_jour_risque_selon_la_fraude(spark):
    print(f"remplissage de la colonne mise_a_jour_risque_selon_la_fraude selon les cas de figure")
    sql_query = """
 
--    # Score basé sur le fait si le conducteur a fraude ou pas 
UPDATE default.insurance_claimsv7_cdf  
SET 
    risque_selon_la_fraude = CASE 
                      WHEN fraud_reported_bool = "True"  THEN 0.7
                      ELSE 0.0
                    END;
 
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [57]:
mise_a_jour_risque_selon_la_fraude(spark)

remplissage de la colonne mise_a_jour_risque_selon_la_fraude selon les cas de figure

In [58]:
# remplissage de la colonne cathegorie_risque selon les cas de figure
def cathegorie_risque(spark):
    print(f"remplissage de la colonne cathegorie_risque selon les cas de figure")
    sql_query = """
 
--    # Score basé sur le fait si le conducteur a fraude ou pas 
UPDATE default.insurance_claimsv7_cdf  
SET 
    cathegorie_risque = CASE 
                      WHEN risque_total > 0.8  THEN 'high'
                      WHEN risque_total > 0.5  THEN 'medium'
                      ELSE 'low'
                    END;
    """
    # Exécution de la requête SQL via spark.sql()
    spark.sql(sql_query)

In [59]:
cathegorie_risque(spark)

remplissage de la colonne cathegorie_risque selon les cas de figure

In [60]:
def risque_total(spark):
    print(f"Calcul du risque total avec remplissage de la colonne risque_total selon les cas de figure")
 #La méthode DeltaTable.forName() est spécifique à l'API Python de Delta Lake et
 #ne peut pas être utilisée directement dans une requête SQL via spark.sql()
 #   sql_query = """ 

    delta_table = DeltaTable.forName(spark, "default.insurance_claimsv7_cdf")

    # Mettre à jour la colonne 'risque_total'
    delta_table.update(
        condition="TRUE",  # Applique la mise à jour à toutes les lignes
        set={
            "risque_total": (
                (F.col("risque_selon_lanciennete").cast("double") +
                 F.col("risque_selon_la_fraude").cast("double") +
                 F.col("age_risk_score").cast("double")) / 3
            )
        }
    )

    # Vérifier la mise à jour
    df_tableFinale = spark.table("default.insurance_claimsv7_cdf")
    df_tableFinale.select("policy_number", "risque_total").show(100)
    #"""

In [61]:
risque_total(spark)

Calcul du risque total avec remplissage de la colonne risque_total selon les cas de figure
+-------------+------------+
|policy_number|risque_total|
+-------------+------------+
|       521585|   0.6333333|
|       342868|   0.6333333|
|       687698|         0.4|
|       227811|   0.6333333|
|       367455|         0.4|
|       104594|   0.6333333|
|       413978|         0.4|
|       429027|         0.4|
|       485665|         0.4|
|       636550|         0.4|
|       543610|         0.4|
|       214618|         0.3|
|       842643|         0.3|
|       626808|         0.4|
|       644081|   0.6333333|
|       892874|  0.53333336|
|       558938|         0.4|
|       275265|         0.4|
|       921202|         0.4|
|       143972|         0.4|
|       183430|         0.3|
|       431876|         0.4|
|       285496|  0.53333336|
|       115399|  0.53333336|
|       736882|         0.4|
|       699044|  0.56666666|
|       863236|         0.4|
|       608513|   0.6333333|
|       914088|         0.4|
|       596785|         0.4|
|       908616|         0.4|
|       666333|   0.6333333|
|       336614|         0.4|
|       584859|         0.4|
|       990493|         0.4|
|       129872|   0.6333333|
|       200152|   0.6333333|
|       933293|         0.4|
|       485664|         0.3|
|       982871|   0.6333333|
|       206213|         0.4|
|       616337|   0.6333333|
|       448961|         0.3|
|       790442|         0.4|
|       108844|         0.4|
|       430029|         0.4|
|       529112|         0.4|
|       939631|   0.6333333|
|       866931|         0.4|
|       582011|         0.4|
|       691189|         0.3|
|       537546|         0.4|
|       394975|         0.4|
|       729634|         0.4|
|       282195|         0.4|
|       420810|         0.4|
|       524836|         0.3|
|       307195|         0.4|
|       623648|  0.33333334|
|       485372|         0.4|
|       598554|   0.6333333|
|       303987|         0.4|
|       343161|         0.4|
|       519312|   0.6333333|
|       132902|   0.6333333|
|       332867|   0.6333333|
|       356590|   0.6333333|
|       346002|         0.3|
|       500533|         0.4|
|       348209|         0.4|
|       486676|   0.6333333|
|       260845|   0.6333333|
|       657045|         0.4|
|       761189|         0.4|
|       175177|         0.4|
|       116700|         0.4|
|       166264|         0.4|
|       527945|         0.4|
|       627540|         0.4|
|       279422|   0.6333333|
|       484200|         0.4|
|       645258|         0.4|
|       694662|         0.4|
|       960680|         0.4|
|       498140|   0.6333333|
|       498875|         0.4|
|       798177|         0.4|
|       614763|         0.4|
|       679370|         0.4|
|       958857|   0.6333333|
|       686816|         0.4|
|       127754|  0.53333336|
|       918629|         0.4|
|       731450|         0.4|
|       307447|         0.4|
|       992145|         0.4|
|       900628|   0.6333333|
|       235220|   0.6333333|
|       740019|         0.4|
|       246882|         0.4|
+-------------+------------+
only showing top 100 rows

In [62]:
# ===============================================
# 5. STOCKAGE DELTA LAKE (Chapitre 9-10 du livre)
# ===============================================

def save_to_delta_lake(df, table_path, table_name):
    pass  # Cette fonction est encore vide, donc on utilise pass pour éviter l'erreur

def create_analytical_views(spark):
    """Création de vues analytiques pour les utilisateurs finaux"""
    pass  # Même principe ici, on utilise pass pour éviter l'erreur

In [63]:
'''
# ===============================
# 6. MONITORING ET OBSERVABILITÉ 
# ===============================
!pip install pyarrow
from pyspark.sql.functions import rand, when, pandas_udf, PandasUDFType
from pyspark.sql.types import StringType
def generate_data_profiling_report(deltaTable):
    """Génération d'un rapport de profiling des données"""

    deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf")  

    # Convertir la DeltaTable en DataFrame car sinon on ne pourra pas utiliser la fonction select
    df = deltaTable.toDF()

    df.select("policy_number", "risque_total","cathegorie_risque").show(100)  
    df_moyenne_age = (df.select('age', 'incident_state').groupBy('incident_state').agg(avg('age').alias('avg_age')).orderBy('avg_age'))
    df_moyenne_age.show()

    # policy_state
    df_policy_state = (df.select('policy_state').groupBy('policy_state').agg(count('policy_state').alias('count_policy_state')).orderBy('count_policy_state'))
    df_policy_state.show()
    # IN INDIANA, IL ILINOIS, OH OHIO 

    # policy_state
    df_policy_state = (df.select('policy_state').groupBy('policy_state').agg(count('policy_state').alias('count_policy_state')).orderBy('count_policy_state'))
    df_policy_state.show()
    # IN INDIANA, IL ILINOIS, OH OHIO 


    # Define lookup table
    lookup = {"IN": "INDIANA", "IL": "ILINOIS", "OH": "OHIO"}

    # Create broadcast variable
    broadcast_lookup = spark.sparkContext.broadcast(lookup)


    # Import necessary functions from PySpark

    @pandas_udf('string', PandasUDFType.SCALAR)
    def state_convert(s):
        return s.map(broadcast_lookup.value)

    print(f"Conversion des abbréviations des states en nom des states: IN = INDIANA IL = ILINOIS OH = OHIO")
    df = df.withColumn("state_name", state_convert(df.policy_state)) 
    df_pandas = df.toPandas()

    # Afficher le DataFrame sous forme de tableau
    print(df_pandas)

    print(f"les marques les plus utilisées")
    # nous voulons savoir les marques les plus utilisées: 
    df_auto_les_plus_utilisees = (df.select('auto_make').groupBy('auto_make').agg(count('auto_make').alias('auto_make_count')))
    df_auto_les_plus_utilisees.show()

    print(f"le nombre d'accident par groupe d'age")
    # nous voulons savoir le nombre d'accident par groupe d'age
    df_par_groupe_age = (df.select('age_group', 'policy_number').groupBy('age_group').agg(count('policy_number').alias('nombre_daccident')))
    df_par_groupe_age.show()

    print(f"le nombre des fraudes et non fraudes")
    #distributions des variables categorielles 
    fraud_reported = df.groupBy("fraud_reported").count()
    fraud_reported.show(5)

'''

'''
# ===============================
# 6. MONITORING ET OBSERVABILITÉ 
# ===============================

!pip install pyarrow
from pyspark.sql.functions import rand, when, pandas_udf, PandasUDFType, col
from pyspark.sql.types import StringType
from pyspark.sql import functions as F
from delta.tables import DeltaTable

def generate_data_profiling_report(deltaTable):
    """Génération d'un rapport de profiling des données"""

    # Charger la DeltaTable à partir du chemin
    deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf")  

    # Convertir la DeltaTable en DataFrame
    df = deltaTable.toDF()

    
    
    # Afficher les premières lignes
    print(f"Affichage des premières lignes de données")
    df.select("policy_number", "risque_total", "cathegorie_risque").show(100)  

    # Calcul de la moyenne d'âge par état de l'incident
    df_moyenne_age = (df.select('age', 'incident_state')
                      .groupBy('incident_state')
                      .agg(F.avg('age').alias('avg_age'))
                      .orderBy('avg_age'))
    df_moyenne_age.show()

    # Calcul du nombre de policy_state
    df_policy_state = (df.select('policy_state')
                       .groupBy('policy_state')
                       .agg(F.count('policy_state').alias('count_policy_state'))
                       .orderBy('count_policy_state'))
    df_policy_state.show()

    # Define lookup table
    lookup = {"IN": "INDIANA", "IL": "ILINOIS", "OH": "OHIO"}

    # Create broadcast variable
    broadcast_lookup = spark.sparkContext.broadcast(lookup)

    # Définir la UDF pour la conversion des états
    @pandas_udf('string', PandasUDFType.SCALAR)
    def state_convert(s):
        return s.map(broadcast_lookup.value)

    # Conversion des abréviations des états en nom complet
    print(f"Conversion des abréviations des états en noms complets")
    df = df.withColumn("state_name", state_convert(df.policy_state)) 

    # Convertir en Pandas pour affichage
    df_pandas = df.toPandas()

    # Afficher le DataFrame sous forme de tableau
    print(f"Voici le DataFrame après conversion des états:")
    display(df_pandas)

    # Afficher les marques les plus utilisées
    print(f"Les marques auto les plus utilisées:")
    df_auto_les_plus_utilisees = (df.select('auto_make')
                                  .groupBy('auto_make')
                                  .agg(F.count('auto_make').alias('auto_make_count')))
    df_auto_les_plus_utilisees.show()

    # Afficher le nombre d'accidents par groupe d'âge
    print(f"Le nombre d'accidents par groupe d'âge:")
    df_par_groupe_age = (df.select('age_group', 'policy_number')
                         .groupBy('age_group')
                         .agg(F.count('policy_number').alias('nombre_daccident')))
    df_par_groupe_age.show()

    # Afficher le nombre de fraudes et non-fraudes
    print(f"Le nombre des fraudes et non-fraudes:")
    fraud_reported = df.groupBy("fraud_reported").count()
    fraud_reported.show(5)

'''
# ===============================
# 6. MONITORING ET OBSERVABILITÉ 
# ===============================

!pip install pyarrow
from pyspark.sql.functions import rand, when, pandas_udf, PandasUDFType, col
from pyspark.sql.types import StringType
from pyspark.sql import functions as F
from delta.tables import DeltaTable
from pyspark.sql import SparkSession
from delta.tables import DeltaTable
import pandas as pd
from pyspark.sql.functions import pandas_udf, PandasUDFType


# Vérifier et initialiser Spark si nécessaire
def check_spark_session():
    """Vérifie si le SparkSession est actif, sinon redémarre"""
    global spark  # Déclare spark comme global pour l'utiliser dans cette fonction
    if not spark._sc._jsc:
        print("Le SparkContext est arrêté. Il faut redémarrer la session Spark.")
        spark = SparkSession.builder.appName("projet_sparkSQL_SQL_DeltaLake_Warehouse").getOrCreate()
    else:
        print("Le SparkContext est toujours actif.")


def generate_data_profiling_report():
    """Génération d'un rapport de profiling des données"""
    try:
        # Vérifier si la session Spark est active
        check_spark_session()  # Appeler la fonction pour vérifier et redémarrer Spark si nécessaire

        # Charger la DeltaTable à partir du chemin
        print(f"Chargement de la DeltaTable depuis le chemin")
        deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf")  

        # Convertir la DeltaTable en DataFrame
        df = deltaTable.toDF()

        # Afficher les premières lignes
        print(f"Affichage des premières lignes de données")
        df.select("policy_number", "risque_total", "cathegorie_risque").show(100)  

        # Calcul de la moyenne d'âge par état de l'incident
        df_moyenne_age = (df.select('age', 'incident_state')
                          .groupBy('incident_state')
                          .agg(avg('age').alias('avg_age'))
                          .orderBy('avg_age'))
        df_moyenne_age.show()

        # Calcul du nombre de policy_state
        df_policy_state = (df.select('policy_state')
                           .groupBy('policy_state')
                           .agg(F.count('policy_state').alias('count_policy_state'))
                           .orderBy('count_policy_state'))
        df_policy_state.show()

        # Définir une table de correspondance pour les états
        lookup = {"IN": "INDIANA", "IL": "ILLINOIS", "OH": "OHIO"}

        # Créer une variable de diffusion (broadcast variable) pour la table de correspondance
        broadcast_lookup = spark.sparkContext.broadcast(lookup)

        # Définir la UDF pour la conversion des états
        @pandas_udf('string', PandasUDFType.SCALAR)
        def state_convert(s):
            return s.map(broadcast_lookup.value)

        # Conversion des abréviations des états en noms complets
        print(f"Conversion des abréviations des états en noms complets")
        df = df.withColumn("state_name", state_convert(df.policy_state)) 

        # Convertir en Pandas pour affichage
        df_pandas = df.toPandas()

        # Afficher le DataFrame sous forme de tableau
        print(f"Voici le DataFrame après conversion des états:")
        display(df_pandas)

        # Afficher les marques auto les plus utilisées
        print(f"Les marques auto les plus utilisées:")
        df_auto_les_plus_utilisees = (df.select('auto_make')
                                      .groupBy('auto_make')
                                      .agg(F.count('auto_make').alias('auto_make_count')))
        df_auto_les_plus_utilisees.show()

        # Afficher le nombre d'accidents par groupe d'âge
        print(f"Le nombre d'accidents par groupe d'âge:")
        df_par_groupe_age = (df.select('age_group', 'policy_number')
                             .groupBy('age_group')
                             .agg(F.count('policy_number').alias('nombre_daccident')))
        df_par_groupe_age.show()

        # Afficher le nombre de fraudes et non-fraudes
        print(f"Le nombre des fraudes et non-fraudes:")
        fraud_reported = df.groupBy("fraud_reported").count()
        fraud_reported.show(5)

    except Exception as e:
        print(f"❌ Erreur lors de la génération du rapport de profiling: {str(e)}")


# Exécution de la fonction
generate_data_profiling_report()


# Exécution de la fonction
#generate_data_profiling_report()



def setup_data_quality_monitoring(deltaTable):
    """Configuration du monitoring de qualité des données"""

Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (21.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Le SparkContext est toujours actif.
Chargement de la DeltaTable depuis le chemin
Affichage des premières lignes de données
+-------------+------------+-----------------+
|policy_number|risque_total|cathegorie_risque|
+-------------+------------+-----------------+
|       521585|   0.6333333|              low|
|       342868|   0.6333333|              low|
|       687698|         0.4|              low|
|       227811|   0.6333333|              low|
|       367455|         0.4|              low|
|       104594|   0.6333333|              low|
|       413978|         0.4|              low|
|       429027|         0.4|              low|
|       485665|         0.4|              low|
|       636550|         0.4|              low|
|       543610|         0.4|              low|
|       214618|         0.3|              low|
|       842643|         0.3|              low|
|       626808|         0.4|              low|
|       644081|   0.6333333|              low|
|       892874|  0.53333336|              low|
|       558938|         0.4|              low|
|       275265|         0.4|              low|
|       921202|         0.4|              low|
|       143972|         0.4|              low|
|       183430|         0.3|              low|
|       431876|         0.4|              low|
|       285496|  0.53333336|              low|
|       115399|  0.53333336|              low|
|       736882|         0.4|              low|
|       699044|  0.56666666|              low|
|       863236|         0.4|              low|
|       608513|   0.6333333|              low|
|       914088|         0.4|              low|
|       596785|         0.4|              low|
|       908616|         0.4|              low|
|       666333|   0.6333333|              low|
|       336614|         0.4|              low|
|       584859|         0.4|              low|
|       990493|         0.4|              low|
|       129872|   0.6333333|              low|
|       200152|   0.6333333|              low|
|       933293|         0.4|              low|
|       485664|         0.3|              low|
|       982871|   0.6333333|              low|
|       206213|         0.4|              low|
|       616337|   0.6333333|              low|
|       448961|         0.3|              low|
|       790442|         0.4|              low|
|       108844|         0.4|              low|
|       430029|         0.4|              low|
|       529112|         0.4|              low|
|       939631|   0.6333333|              low|
|       866931|         0.4|              low|
|       582011|         0.4|              low|
|       691189|         0.3|              low|
|       537546|         0.4|              low|
|       394975|         0.4|              low|
|       729634|         0.4|              low|
|       282195|         0.4|              low|
|       420810|         0.4|              low|
|       524836|         0.3|              low|
|       307195|         0.4|              low|
|       623648|  0.33333334|              low|
|       485372|         0.4|              low|
|       598554|   0.6333333|              low|
|       303987|         0.4|              low|
|       343161|         0.4|              low|
|       519312|   0.6333333|              low|
|       132902|   0.6333333|              low|
|       332867|   0.6333333|              low|
|       356590|   0.6333333|              low|
|       346002|         0.3|              low|
|       500533|         0.4|              low|
|       348209|         0.4|              low|
|       486676|   0.6333333|              low|
|       260845|   0.6333333|              low|
|       657045|         0.4|              low|
|       761189|         0.4|              low|
|       175177|         0.4|              low|
|       116700|         0.4|              low|
|       166264|         0.4|              low|
|       527945|         0.4|              low|
|       627540|         0.4|              low|
|       279422|   0.6333333|              low|
|       484200|         0.4|              low|
|       645258|         0.4|              low|
|       694662|         0.4|              low|
|       960680|         0.4|              low|
|       498140|   0.6333333|              low|
|       498875|         0.4|              low|
|       798177|         0.4|              low|
|       614763|         0.4|              low|
|       679370|         0.4|              low|
|       958857|   0.6333333|              low|
|       686816|         0.4|              low|
|       127754|  0.53333336|              low|
|       918629|         0.4|              low|
|       731450|         0.4|              low|
|       307447|         0.4|              low|
|       992145|         0.4|              low|
|       900628|   0.6333333|              low|
|       235220|   0.6333333|              low|
|       740019|         0.4|              low|
|       246882|         0.4|              low|
+-------------+------------+-----------------+
only showing top 100 rows

+--------------+------------------+
|incident_state|           avg_age|
+--------------+------------------+
|            PA|              36.6|
|            OH| 38.21739130434783|
|            SC|38.568548387096776|
|            VA|              38.8|
|            NY| 39.12595419847328|
|            NC|39.154545454545456|
|            WV| 39.53917050691244|
+--------------+------------------+

+------------+------------------+
|policy_state|count_policy_state|
+------------+------------------+
|          IN|               310|
|          IL|               338|
|          OH|               352|
+------------+------------------+

Conversion des abréviations des états en noms complets

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

Voici le DataFrame après conversion des états:

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,_c39,missing_data,age_group,age_risk_score,risque_selon_lanciennete,risque_selon_la_fraude,risque_total,cathegorie_risque,fraud_reported_bool,state_name
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,OHIO
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,INDIANA
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,None,False,Young_Adult,0.6,0.6,0.0,0.400000,low,False,OHIO
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,ILLINOIS
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,None,False,Middle_Age,0.6,0.6,0.0,0.400000,low,False,ILLINOIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.8,0,431289,...,None,False,Middle_Age,0.6,0.4,0.0,0.333333,low,False,OHIO
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,None,False,Middle_Age,0.6,0.6,0.0,0.400000,low,False,ILLINOIS
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,None,False,Young_Adult,0.6,0.6,0.0,0.400000,low,False,OHIO
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,None,False,Senior,0.3,0.6,0.0,0.300000,low,False,ILLINOIS
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,None,False,Senior,0.3,0.6,0.0,0.300000,low,False,OHIO

Les marques auto les plus utilisées:
+----------+---------------+
| auto_make|auto_make_count|
+----------+---------------+
|     Dodge|             80|
|    Suburu|             80|
|       BMW|             72|
|      Jeep|             67|
|     Honda|             55|
|Volkswagen|             68|
| Chevrolet|             76|
|      Audi|             69|
|      Ford|             72|
|    Accura|             68|
|    Nissan|             78|
|    Toyota|             70|
|      Saab|             80|
|  Mercedes|             65|
+----------+---------------+

Le nombre d'accidents par groupe d'âge:
+-----------+----------------+
|  age_group|nombre_daccident|
+-----------+----------------+
|      Young|              26|
|Young_Adult|             334|
|     Senior|             127|
| Middle_Age|             513|
+-----------+----------------+

Le nombre des fraudes et non-fraudes:
+--------------+-----+
|fraud_reported|count|
+--------------+-----+
|             N|  753|
|             Y|  247|
+--------------+-----+

In [65]:
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf")
#deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")  
#df = default.insurance_claimsv7
#generate_data_profiling_report(deltaTable)
generate_data_profiling_report()

Le SparkContext est toujours actif.
Chargement de la DeltaTable depuis le chemin
Affichage des premières lignes de données
+-------------+------------+-----------------+
|policy_number|risque_total|cathegorie_risque|
+-------------+------------+-----------------+
|       521585|   0.6333333|              low|
|       342868|   0.6333333|              low|
|       687698|         0.4|              low|
|       227811|   0.6333333|              low|
|       367455|         0.4|              low|
|       104594|   0.6333333|              low|
|       413978|         0.4|              low|
|       429027|         0.4|              low|
|       485665|         0.4|              low|
|       636550|         0.4|              low|
|       543610|         0.4|              low|
|       214618|         0.3|              low|
|       842643|         0.3|              low|
|       626808|         0.4|              low|
|       644081|   0.6333333|              low|
|       892874|  0.53333336|              low|
|       558938|         0.4|              low|
|       275265|         0.4|              low|
|       921202|         0.4|              low|
|       143972|         0.4|              low|
|       183430|         0.3|              low|
|       431876|         0.4|              low|
|       285496|  0.53333336|              low|
|       115399|  0.53333336|              low|
|       736882|         0.4|              low|
|       699044|  0.56666666|              low|
|       863236|         0.4|              low|
|       608513|   0.6333333|              low|
|       914088|         0.4|              low|
|       596785|         0.4|              low|
|       908616|         0.4|              low|
|       666333|   0.6333333|              low|
|       336614|         0.4|              low|
|       584859|         0.4|              low|
|       990493|         0.4|              low|
|       129872|   0.6333333|              low|
|       200152|   0.6333333|              low|
|       933293|         0.4|              low|
|       485664|         0.3|              low|
|       982871|   0.6333333|              low|
|       206213|         0.4|              low|
|       616337|   0.6333333|              low|
|       448961|         0.3|              low|
|       790442|         0.4|              low|
|       108844|         0.4|              low|
|       430029|         0.4|              low|
|       529112|         0.4|              low|
|       939631|   0.6333333|              low|
|       866931|         0.4|              low|
|       582011|         0.4|              low|
|       691189|         0.3|              low|
|       537546|         0.4|              low|
|       394975|         0.4|              low|
|       729634|         0.4|              low|
|       282195|         0.4|              low|
|       420810|         0.4|              low|
|       524836|         0.3|              low|
|       307195|         0.4|              low|
|       623648|  0.33333334|              low|
|       485372|         0.4|              low|
|       598554|   0.6333333|              low|
|       303987|         0.4|              low|
|       343161|         0.4|              low|
|       519312|   0.6333333|              low|
|       132902|   0.6333333|              low|
|       332867|   0.6333333|              low|
|       356590|   0.6333333|              low|
|       346002|         0.3|              low|
|       500533|         0.4|              low|
|       348209|         0.4|              low|
|       486676|   0.6333333|              low|
|       260845|   0.6333333|              low|
|       657045|         0.4|              low|
|       761189|         0.4|              low|
|       175177|         0.4|              low|
|       116700|         0.4|              low|
|       166264|         0.4|              low|
|       527945|         0.4|              low|
|       627540|         0.4|              low|
|       279422|   0.6333333|              low|
|       484200|         0.4|              low|
|       645258|         0.4|              low|
|       694662|         0.4|              low|
|       960680|         0.4|              low|
|       498140|   0.6333333|              low|
|       498875|         0.4|              low|
|       798177|         0.4|              low|
|       614763|         0.4|              low|
|       679370|         0.4|              low|
|       958857|   0.6333333|              low|
|       686816|         0.4|              low|
|       127754|  0.53333336|              low|
|       918629|         0.4|              low|
|       731450|         0.4|              low|
|       307447|         0.4|              low|
|       992145|         0.4|              low|
|       900628|   0.6333333|              low|
|       235220|   0.6333333|              low|
|       740019|         0.4|              low|
|       246882|         0.4|              low|
+-------------+------------+-----------------+
only showing top 100 rows

+--------------+------------------+
|incident_state|           avg_age|
+--------------+------------------+
|            PA|              36.6|
|            OH| 38.21739130434783|
|            SC|38.568548387096776|
|            VA|              38.8|
|            NY| 39.12595419847328|
|            NC|39.154545454545456|
|            WV| 39.53917050691244|
+--------------+------------------+

+------------+------------------+
|policy_state|count_policy_state|
+------------+------------------+
|          IN|               310|
|          IL|               338|
|          OH|               352|
+------------+------------------+

Conversion des abréviations des états en noms complets

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

Voici le DataFrame après conversion des états:

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,_c39,missing_data,age_group,age_risk_score,risque_selon_lanciennete,risque_selon_la_fraude,risque_total,cathegorie_risque,fraud_reported_bool,state_name
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,OHIO
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,INDIANA
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,None,False,Young_Adult,0.6,0.6,0.0,0.400000,low,False,OHIO
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,ILLINOIS
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,None,False,Middle_Age,0.6,0.6,0.0,0.400000,low,False,ILLINOIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.8,0,431289,...,None,False,Middle_Age,0.6,0.4,0.0,0.333333,low,False,OHIO
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,None,False,Middle_Age,0.6,0.6,0.0,0.400000,low,False,ILLINOIS
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,None,False,Young_Adult,0.6,0.6,0.0,0.400000,low,False,OHIO
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,None,False,Senior,0.3,0.6,0.0,0.300000,low,False,ILLINOIS
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,None,False,Senior,0.3,0.6,0.0,0.300000,low,False,OHIO

Les marques auto les plus utilisées:
+----------+---------------+
| auto_make|auto_make_count|
+----------+---------------+
|     Dodge|             80|
|    Suburu|             80|
|       BMW|             72|
|      Jeep|             67|
|     Honda|             55|
|Volkswagen|             68|
| Chevrolet|             76|
|      Audi|             69|
|      Ford|             72|
|    Accura|             68|
|    Nissan|             78|
|    Toyota|             70|
|      Saab|             80|
|  Mercedes|             65|
+----------+---------------+

Le nombre d'accidents par groupe d'âge:
+-----------+----------------+
|  age_group|nombre_daccident|
+-----------+----------------+
|      Young|              26|
|Young_Adult|             334|
|     Senior|             127|
| Middle_Age|             513|
+-----------+----------------+

Le nombre des fraudes et non-fraudes:
+--------------+-----+
|fraud_reported|count|
+--------------+-----+
|             N|  753|
|             Y|  247|
+--------------+-----+

In [66]:
'''
# ===============================================
# 8. CREATE DELTA TABLE OR REPLACE TABLE
# ===============================================
#%%sparksql

def creer_table():
       # Your SQL query inside the function
 sql_query = """
   CREATE OR REPLACE TABLE default.insurance_claims_delta (
 

    months_as_customer STRING,
    age STRING,
    policy_number STRING,
    policy_bind_date STRING, 
    policy_state STRING, 
    policy_csl STRING,
    policy_deductable STRING, 
    policy_annual_premium STRING, 
    umbrella_limit STRING,  
    insured_zip STRING, 
    insured_sex STRING, 
    insured_education_level STRING, 
    insured_occupation STRING, 
    insured_hobbies STRING, 
    insured_relationship STRING,  
    capital_gains STRING, 
    capital_loss STRING, 
    incident_date STRING,
    incident_type STRING, 
    collision_type STRING,
    incident_severity STRING,
    authorities_contacted STRING,
    incident_state STRING,
    incident_city STRING,
    incident_location STRING,
    incident_hour_of_the_day STRING,
    number_of_vehicles_involved STRING,
    property_damage STRING,
    bodily_injuries STRING,
    witnesses STRING,
    police_report_available STRING,
    total_claim_amount STRING,
    injury_claim STRING,
    property_claim STRING,
    vehicle_claim STRING,
    auto_make STRING,
    auto_model STRING,
    auto_year STRING,
    fraud_reported STRING,
    _c39 STRING 

    
) USING DELTA LOCATION 'insurance_claims/spark-warehouse/insurance_claimsv5';

        """
 spark.sql(sql_query)
 '''

'\n# ===============================================\n# 8. CREATE DELTA TABLE OR REPLACE TABLE\n# ===============================================\n#%%sparksql\n\ndef creer_table():\n       # Your SQL query inside the function\n sql_query = """\n   CREATE OR REPLACE TABLE default.insurance_claims_delta (\n \n\n    months_as_customer STRING,\n    age STRING,\n    policy_number STRING,\n    policy_bind_date STRING, \n    policy_state STRING, \n    policy_csl STRING,\n    policy_deductable STRING, \n    policy_annual_premium STRING, \n    umbrella_limit STRING,  \n    insured_zip STRING, \n    insured_sex STRING, \n    insured_education_level STRING, \n    insured_occupation STRING, \n    insured_hobbies STRING, \n    insured_relationship STRING,  \n    capital_gains STRING, \n    capital_loss STRING, \n    incident_date STRING,\n    incident_type STRING, \n    collision_type STRING,\n    incident_severity STRING,\n    authorities_contacted STRING,\n    incident_state STRING,\n    incident_city STRING,\n    incident_location STRING,\n    incident_hour_of_the_day STRING,\n    number_of_vehicles_involved STRING,\n    property_damage STRING,\n    bodily_injuries STRING,\n    witnesses STRING,\n    police_report_available STRING,\n    total_claim_amount STRING,\n    injury_claim STRING,\n    property_claim STRING,\n    vehicle_claim STRING,\n    auto_make STRING,\n    auto_model STRING,\n    auto_year STRING,\n    fraud_reported STRING,\n    _c39 STRING \n\n    \n) USING DELTA LOCATION \'insurance_claims/spark-warehouse/insurance_claimsv5\';\n\n        """\n spark.sql(sql_query)\n '

In [67]:
#creer_table()

In [68]:
from delta.tables import DeltaTable

def get_delta_table(spark, path):
    # Crée et retourne un objet DeltaTable à partir du chemin spécifié
    return DeltaTable.forPath(spark, path)

# Exemple d'appel de la fonction

In [69]:
path = "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5"
deltaTable = get_delta_table(spark, path)
update_policy_number(deltaTable)

Updating police number

In [70]:
#delai de retention
def delai_de_retention():
# Your SQL query inside the function
 sql_retention = """
 
    ALTER TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7` SET TBLPROPERTIES (
      delta.logRetentionDuration = 'interval 60 days',
      delta.deletedFileRetentionDuration = 'interval 60 days'
    );
        """
 spark.sql(sql_retention)

In [71]:
delai_de_retention()

In [81]:
# ===============================================
# 7. PIPELINE PRINCIPAL
# ===============================================

 
#def run_insurance_pipeline(input_file_path, output_path):
def run_insurance_pipeline():
    """Exécution du pipeline complet de data engineering"""
    
    print("🚀 Démarrage du pipeline de data engineering pour l'assurance auto")
    
    # 1. Initialisation
    spark = create_spark_session()
    
    try:
 
        #pass  # Utilise pass pour laisser vide ce bloc pour le moment 
        #spark = create_spark_session()
        #path ="/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf" 
        path ="/opt/workspace/insurance_claims/spark-warehouse/insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv7_cdf"
        #delta_table = DeltaTable.forName(spark, "default.insurance_claimsv7_cdf")
        #deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7_cdf")
        deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv7_cdf")
        drop_table_if_exists(spark, "default.insurance_claimsv7_cdf")
        
        get_bronze_delta_table(spark, path)
        
        ingestion_des_donnees(spark)
   
        
        creer_table_bronze()

        update_policy_number(deltaTable)

        mise_a_jour_verification_des_donnees(spark)

        creation_colonne_missing_data(spark)

        mise_a_jour_missing_data(spark)

        creation_colonne_age_group(spark)

        creation_colonne_age_risk_score(spark)

        creation_colonne_risque_selon_lanciennete(spark)

        creation_colonne_risque_selon_la_fraude(spark)

        creation_colonne_risque_total(spark)

        creation_colonne_cathegorie_risque(spark)

        creation_colonne_fraud_reported_bool(spark)

        mise_a_jour_groupe_age(spark)

        mise_a_jour_age_risk_score(spark)

        mise_a_jour_risque_selon_lanciennete(spark)

        mise_a_jour_fraud_reported_bool(spark)

        mise_a_jour_risque_selon_la_fraude(spark)

        cathegorie_risque(spark)

        risque_total(spark)
        check_spark_session()
        #generate_data_profiling_report(deltaTable)
        generate_data_profiling_report()
    except Exception as e:
        print(f"❌ Erreur dans le pipeline: {str(e)}")
        raise
    finally:
        spark.stop()

In [82]:
run_insurance_pipeline()

🚀 Démarrage du pipeline de data engineering pour l'assurance auto

Données sauvegardées dans insurance_claimsv7_cdf
Updating police number
Mise à jour des valeurs dans la table
creation de la colonne missing_data
La colonne missing_data existe déjà.
remplissage de la colonne missing_data selon les cas de figure
création de la colonne groupe d'age
La colonne age_group existe déjà.
création de la colonne age_risk_score (risque selon l'age)
La colonne age_risk_score existe déjà.
création de la colonne risque selon l'anciennété
La colonne risque_selon_lanciennete existe déjà.
création de la colonne risque selon la fraude
La colonne risque_selon_la_fraude existe déjà.
création de la colonne risque totale
La colonne risque_total existe déjà.
création de la colonne risque par cathégorie
La colonne cathegorie_risque existe déjà.
création de la colonne fraud_reported_bool
La colonne fraud_reported_bool existe déjà.
remplissage de la colonne mise_a_jour_groupe_age selon les cas de figure
remplissage de la colonne mise_a_jour_age_risk_score selon les cas de figure
remplissage de la colonne mise_a_jour_risque_selon_lanciennete selon les cas de figure
remplissage de la colonne mise_a_jour_fraud_reported_bool selon les cas de figure
remplissage de la colonne mise_a_jour_risque_selon_la_fraude selon les cas de figure
remplissage de la colonne cathegorie_risque selon les cas de figure
Calcul du risque total avec remplissage de la colonne risque_total selon les cas de figure
+-------------+------------+
|policy_number|risque_total|
+-------------+------------+
|       521585|   0.6333333|
|       342868|   0.6333333|
|       687698|         0.4|
|       227811|   0.6333333|
|       367455|         0.4|
|       104594|   0.6333333|
|       413978|         0.4|
|       429027|         0.4|
|       485665|         0.4|
|       636550|         0.4|
|       543610|         0.4|
|       214618|         0.3|
|       842643|         0.3|
|       626808|         0.4|
|       644081|   0.6333333|
|       892874|  0.53333336|
|       558938|         0.4|
|       275265|         0.4|
|       921202|         0.4|
|       143972|         0.4|
|       183430|         0.3|
|       431876|         0.4|
|       285496|  0.53333336|
|       115399|  0.53333336|
|       736882|         0.4|
|       699044|  0.56666666|
|       863236|         0.4|
|       608513|   0.6333333|
|       914088|         0.4|
|       596785|         0.4|
|       908616|         0.4|
|       666333|   0.6333333|
|       336614|         0.4|
|       584859|         0.4|
|       990493|         0.4|
|       129872|   0.6333333|
|       200152|   0.6333333|
|       933293|         0.4|
|       485664|         0.3|
|       982871|   0.6333333|
|       206213|         0.4|
|       616337|   0.6333333|
|       448961|         0.3|
|       790442|         0.4|
|       108844|         0.4|
|       430029|         0.4|
|       529112|         0.4|
|       939631|   0.6333333|
|       866931|         0.4|
|       582011|         0.4|
|       691189|         0.3|
|       537546|         0.4|
|       394975|         0.4|
|       729634|         0.4|
|       282195|         0.4|
|       420810|         0.4|
|       524836|         0.3|
|       307195|         0.4|
|       623648|  0.33333334|
|       485372|         0.4|
|       598554|   0.6333333|
|       303987|         0.4|
|       343161|         0.4|
|       519312|   0.6333333|
|       132902|   0.6333333|
|       332867|   0.6333333|
|       356590|   0.6333333|
|       346002|         0.3|
|       500533|         0.4|
|       348209|         0.4|
|       486676|   0.6333333|
|       260845|   0.6333333|
|       657045|         0.4|
|       761189|         0.4|
|       175177|         0.4|
|       116700|         0.4|
|       166264|         0.4|
|       527945|         0.4|
|       627540|         0.4|
|       279422|   0.6333333|
|       484200|         0.4|
|       645258|         0.4|
|       694662|         0.4|
|       960680|         0.4|
|       498140|   0.6333333|
|       498875|         0.4|
|       798177|         0.4|
|       614763|         0.4|
|       679370|         0.4|
|       958857|   0.6333333|
|       686816|         0.4|
|       127754|  0.53333336|
|       918629|         0.4|
|       731450|         0.4|
|       307447|         0.4|
|       992145|         0.4|
|       900628|   0.6333333|
|       235220|   0.6333333|
|       740019|         0.4|
|       246882|         0.4|
+-------------+------------+
only showing top 100 rows

Le SparkContext est toujours actif.
Le SparkContext est toujours actif.
Chargement de la DeltaTable depuis le chemin
Affichage des premières lignes de données
+-------------+------------+-----------------+
|policy_number|risque_total|cathegorie_risque|
+-------------+------------+-----------------+
|       521585|   0.6333333|              low|
|       342868|   0.6333333|              low|
|       687698|         0.4|              low|
|       227811|   0.6333333|              low|
|       367455|         0.4|              low|
|       104594|   0.6333333|              low|
|       413978|         0.4|              low|
|       429027|         0.4|              low|
|       485665|         0.4|              low|
|       636550|         0.4|              low|
|       543610|         0.4|              low|
|       214618|         0.3|              low|
|       842643|         0.3|              low|
|       626808|         0.4|              low|
|       644081|   0.6333333|              low|
|       892874|  0.53333336|              low|
|       558938|         0.4|              low|
|       275265|         0.4|              low|
|       921202|         0.4|              low|
|       143972|         0.4|              low|
|       183430|         0.3|              low|
|       431876|         0.4|              low|
|       285496|  0.53333336|              low|
|       115399|  0.53333336|              low|
|       736882|         0.4|              low|
|       699044|  0.56666666|              low|
|       863236|         0.4|              low|
|       608513|   0.6333333|              low|
|       914088|         0.4|              low|
|       596785|         0.4|              low|
|       908616|         0.4|              low|
|       666333|   0.6333333|              low|
|       336614|         0.4|              low|
|       584859|         0.4|              low|
|       990493|         0.4|              low|
|       129872|   0.6333333|              low|
|       200152|   0.6333333|              low|
|       933293|         0.4|              low|
|       485664|         0.3|              low|
|       982871|   0.6333333|              low|
|       206213|         0.4|              low|
|       616337|   0.6333333|              low|
|       448961|         0.3|              low|
|       790442|         0.4|              low|
|       108844|         0.4|              low|
|       430029|         0.4|              low|
|       529112|         0.4|              low|
|       939631|   0.6333333|              low|
|       866931|         0.4|              low|
|       582011|         0.4|              low|
|       691189|         0.3|              low|
|       537546|         0.4|              low|
|       394975|         0.4|              low|
|       729634|         0.4|              low|
|       282195|         0.4|              low|
|       420810|         0.4|              low|
|       524836|         0.3|              low|
|       307195|         0.4|              low|
|       623648|  0.33333334|              low|
|       485372|         0.4|              low|
|       598554|   0.6333333|              low|
|       303987|         0.4|              low|
|       343161|         0.4|              low|
|       519312|   0.6333333|              low|
|       132902|   0.6333333|              low|
|       332867|   0.6333333|              low|
|       356590|   0.6333333|              low|
|       346002|         0.3|              low|
|       500533|         0.4|              low|
|       348209|         0.4|              low|
|       486676|   0.6333333|              low|
|       260845|   0.6333333|              low|
|       657045|         0.4|              low|
|       761189|         0.4|              low|
|       175177|         0.4|              low|
|       116700|         0.4|              low|
|       166264|         0.4|              low|
|       527945|         0.4|              low|
|       627540|         0.4|              low|
|       279422|   0.6333333|              low|
|       484200|         0.4|              low|
|       645258|         0.4|              low|
|       694662|         0.4|              low|
|       960680|         0.4|              low|
|       498140|   0.6333333|              low|
|       498875|         0.4|              low|
|       798177|         0.4|              low|
|       614763|         0.4|              low|
|       679370|         0.4|              low|
|       958857|   0.6333333|              low|
|       686816|         0.4|              low|
|       127754|  0.53333336|              low|
|       918629|         0.4|              low|
|       731450|         0.4|              low|
|       307447|         0.4|              low|
|       992145|         0.4|              low|
|       900628|   0.6333333|              low|
|       235220|   0.6333333|              low|
|       740019|         0.4|              low|
|       246882|         0.4|              low|
+-------------+------------+-----------------+
only showing top 100 rows

+--------------+------------------+
|incident_state|           avg_age|
+--------------+------------------+
|            PA|              36.6|
|            OH| 38.21739130434783|
|            SC|38.568548387096776|
|            VA|              38.8|
|            NY| 39.12595419847328|
|            NC|39.154545454545456|
|            WV| 39.53917050691244|
+--------------+------------------+

+------------+------------------+
|policy_state|count_policy_state|
+------------+------------------+
|          IN|               310|
|          IL|               338|
|          OH|               352|
+------------+------------------+

Conversion des abréviations des états en noms complets

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

Voici le DataFrame après conversion des états:

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,_c39,missing_data,age_group,age_risk_score,risque_selon_lanciennete,risque_selon_la_fraude,risque_total,cathegorie_risque,fraud_reported_bool,state_name
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,OHIO
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,INDIANA
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,None,False,Young_Adult,0.6,0.6,0.0,0.400000,low,False,OHIO
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,None,False,Middle_Age,0.6,0.6,0.7,0.633333,low,True,ILLINOIS
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,None,False,Middle_Age,0.6,0.6,0.0,0.400000,low,False,ILLINOIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.8,0,431289,...,None,False,Middle_Age,0.6,0.4,0.0,0.333333,low,False,OHIO
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,None,False,Middle_Age,0.6,0.6,0.0,0.400000,low,False,ILLINOIS
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,None,False,Young_Adult,0.6,0.6,0.0,0.400000,low,False,OHIO
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,None,False,Senior,0.3,0.6,0.0,0.300000,low,False,ILLINOIS
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,None,False,Senior,0.3,0.6,0.0,0.300000,low,False,OHIO

Les marques auto les plus utilisées:
+----------+---------------+
| auto_make|auto_make_count|
+----------+---------------+
|     Dodge|             80|
|    Suburu|             80|
|       BMW|             72|
|      Jeep|             67|
|     Honda|             55|
|Volkswagen|             68|
| Chevrolet|             76|
|      Audi|             69|
|      Ford|             72|
|    Accura|             68|
|    Nissan|             78|
|    Toyota|             70|
|      Saab|             80|
|  Mercedes|             65|
+----------+---------------+

Le nombre d'accidents par groupe d'âge:
+-----------+----------------+
|  age_group|nombre_daccident|
+-----------+----------------+
|      Young|              26|
|Young_Adult|             334|
|     Senior|             127|
| Middle_Age|             513|
+-----------+----------------+

Le nombre des fraudes et non-fraudes:
+--------------+-----+
|fraud_reported|count|
+--------------+-----+
|             N|  753|
|             Y|  247|
+--------------+-----+